ul {
  list-style-type: none;
}
.DayListSection {
  flex-direction: column;
}
.DaysList {
  overflow-y: scroll;
  height: 350px;
}
.AddSchedule {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .SchedulesList {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
