<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Olá {{.User.Name}}</h3>
  <p> Seu email "{{.User.Email}}" foi confirmado com sucesso.</p>
  <br/>
  <p>Crie uma senha para acessar o sistema.</p>
  <br/>
  <form id="pwform">
    <fieldset>
    <legend>Nova senha:</legend>
      <input type="password" required minlength="8" placeholder="senha" id="password">
      <input type="password" required minlength="8" placeholder="confirme a senha" id="repeatpw">
      <input type="submit" value="Confirmar"/>
    </fieldset>
  </form>
  <!--const myForm = document.querySelector("form");-->
  <!--myForm.addEventListener('submit', e =>{-->
      <!--e.preventDefault();-->
      <!--const XHR = new XMLHttpRequest(),-->
            <!--FD  = new FormData();-->
      <!--FD.append("password",password.value);-->
      <!--FD.append("confirm_password",confirm_password.value);-->
      <!--// Define what happens on successful data submission-->
      <!--XHR.addEventListener( 'load', function( event  ) {-->
              <!--alert( "Senha alterada com sucesso!" );-->
      <!--});-->
      <!--// Define what happens in case of error-->
      <!--XHR.addEventListener(' error', function( event  ) {-->
              <!--alert("Ooops... ocorreu algum erro!");-->
      <!--});-->
      <!--// Set up our request-->
      <!--XHR.open('POST', "/api/users/{{.User.ID}}/password" );-->
      <!--XHR.withCredentials = true;-->
      <!--// Send our FormData object; HTTP headers are set automatically-->
      <!--XHR.send(FD);-->
  <!--}-->
  <script>
      pwform.onsubmit = async (e) => {
          e.preventDefault();
          let formData = "password=" + password.value + "&" + 
                        "confirm_password="  + repeatpw.value;

          let response = await fetch('/api/users/{{.User.ID}}/password',
              {
                  method: "POST",
                  headers: {
                      "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                  },
                  credentials: 'include', 
                  body: formData 
              });
          let result = await response.json();
          console.log(result.message);
      }
  let password = document.getElementById("password");
  let confirm_password = document.getElementById("repeatpw");
  function validatePassword(){
    if(password.value !== confirm_password.value) {
     confirm_password.setCustomValidity("As senhas não são iguais");
    } else {
     confirm_password.setCustomValidity('');
     }
    }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  </script>
  </body>
</html>
