.App {
  text-align: center;
}
.Navigation {
  display: flex;
}
.Navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Navigation li {
  display: inline-block;
  margin: 20px;
}

.Navigation a {
  text-decoration: none;
  color: black;
}

.Navigation a:hover,
.Navigation a:active {
  color: #fa923f;
}

.NavItem {
  display: flex;
}
.MenuToggleBtn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navigation {
    flex-direction: column;
  }
  .NavItem {
    margin-left: 0;
    display: none;
  }
  .Menu {
    display: none;
  }
  .Logo {
    align-self: flex-start;
    display: initial;
  }
  .MenuToggleBtn {
    align-self: flex-end;
    display: initial;
    position: absolute;
  }
}
