<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Olá {{.User.Name}}</h3>
  <p> Crie uma nova senha para sua conta:</p>
  <br/>
  <form 
    action="/api/users/{{.User.ID}}/password" 
    method="POST" 
    enctype="application/x-www-form-urlencoded">
    <fieldset>
    <legend>Nova senha:</legend>
      <input 
      id="password"
      name="password"
      type="password" 
      required 
      minlength="8"
      placeholder="senha">
      <input
      id="confirm_password"
      name="confirm_password"
      type="password" 
      required 
      minlength="8" 
      placeholder="confirme a senha">
      <input type="submit" value="Confirmar"/>
    </fieldset>
  </form>
  <script>
  let password = document.getElementById("password");
  let confirm_password = document.getElementById("confirm_password");
  function validatePassword(){
    if(password.value != confirm_password.value) {
     confirm_password.setCustomValidity("As senhas não são iguais");
    } else {
     confirm_password.setCustomValidity('');
     }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  </script>
  </body>
</html>
