<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Olá {{.User.Name}}</h3>
  <p> Crie uma nova senha para sua conta:</p>
  <br/>
  <form action="/users/{{.User.ID}}/password" method="POST">
    <fieldset>
    <legend>Nova senha:</legend>

      <input type="password" required placeholder="senha" id="password">
      <input type="password" required placeholder="cofirme a senha" id="confirm_password">
      <button type="submit">Confirmar</button>
    </fieldset>
  </form>
  <script>
  let password = document.getElementById("password");
  let confirm_password = document.getElementById("confirm_password");
  function validatePassword(){
    if(password.value != confirm_password.value) {
     confirm_password.setCustomValidity("As senhas não são iguais");
    } else {
     confirm_password.setCustomValidity('');
     }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  </script>
  </body>
</html>
