<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Hello {{.User.Name}}</h3>
  <p> Your password was succesfully updated.</p>
  <br/>
  <p>Go to the login page at this <a href="{{.Link}}">link</a>.</p>
  <br/>
  </body>
</html>
