<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Olá {{.User.Name}}</h3>
  <p> Estamos lhe enviando essa mensagem porque você
  requisitou o 'reset' da senha associada ao endereço {{.User.Email}} na sua conta em nosso site.</p>
  <p> Para prosseguir com o 'reset' da senha, clique no link abaixo para abrir uma nova janela
  em seu navegador e siga as instruções da página.</p>
  <br/>
  <p>Se não foi você que solicitou o 'reset', fique tranquilo, nada mudou na sua conta. Basta
  desconsiderar essa mensagem.</p>
  <br/>
  <p>Clique neste <a href="{{.Link}}" target="_blank">link</a> para mudar sua senha.</p>
   <br/>
  <p>Até breve!<p/>
  </body>
</html>
