<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Olá</h3>
  <p> Estamos enviando essa mensagem porque você (ou alguma outra pessoa) forneceu esse
  endereço de email ({{.User.Email}}) em nosso site, solicitando uma mudança de senha.
  Entretanto, não há conta registrada com esse email em nosso banco de dados.</p>
  <p>Se você é realmente um de nossos usuários e está tentanto o 'reset' de sua conta conosco, por favor
  refaça o processo com o endereço de email que usou para se cadastrar.</p>
  <p>Se você não tem uma conta em nosso site, ignore esse email, provavelmente
  alguém digitou seu email por engano.<p>

  <br/>
  <br/>
  <p>Até breve!<p/>
  </body>
</html>
