<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Hello</h3>
    <p> We sent you this message because you or someone else requested a
      password reset to the account associated with {{.User.Email}} 
      at Sked.<p>
    <p>However, there is no registered account in our site with that 
       email.</p>   
    <p>If you really is one of our users and need a password reset, 
       please request it again with the email address that you used 
       to create your account.</p>
    <p>If you don't have an account with us, please dismiss this message.
       Probably someone typed your email by mistake.<p>

  <br/>
  <br/>
  <p>Bye<p/>
  </body>
</html>
