<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Hello {{.User.Name}}</h3>
  <p> We sent you this message because you or someone else requested a
      password reset to the account associated with {{.User.Email}} 
      at Sked.</p>
  <p> To proceed, click the link below and follow the instructions.</p>
  <br/>
  <p>If you did not request the password reset, don't worry, nothing 
      has changed in your account, just dismiss this message.</p>
  <br/>
  <p>Click this <a href="{{.Link}}" target="_blank">link</a> to change your
      password.</p>
   <br/>
  <p>Bye<p/>
  </body>
</html>
