<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
  <h3>Hello {{.User.Name}}</h3>
  <p> Your account was succesfully created.</p>
  <br/>
  <p>Please, validate your email clicking this <a href="{{.Link}}" 
          target="_blank">link</a>, and follow the instructions to 
     create a password. </p>
   <br/>
  <p>Bye<p/>
  </body>
</html>
